* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body div.box {
  position: relative;
}
body div.box span.copiar {
  position: absolute;
  top: 2.5rem;
  right: 0.5rem;
  color: gray;
}