*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div.box{
        position: relative;

        span.copiar{
            position: absolute;
            top: 2.5rem;
            right: .5rem;
            color: gray;
        }

    }
    
}